/* ---------------------------------------
   TTNorms — подключение локальных OTF
   --------------------------------------- */

@font-face {
    font-family: "TTNorms";
    src: url("/fonts/ttnorms/TTNorms-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "TTNorms";
    src: url("/fonts/ttnorms/TTNorms-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "TTNorms";
    src: url("/fonts/ttnorms/TTNorms-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "TTNorms";
    src: url("/fonts/ttnorms/TTNorms-Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* Курсивы */
@font-face {
    font-family: "TTNorms";
    src: url("/fonts/ttnorms/TTNorms-Italic.otf") format("opentype");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "TTNorms";
    src: url("/fonts/ttnorms/TTNorms-MediumItalic.otf") format("opentype");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "TTNorms";
    src: url("/fonts/ttnorms/TTNorms-BoldItalic.otf") format("opentype");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "TTNorms";
    src: url("/fonts/ttnorms/TTNorms-ExtraBold.otf") format("opentype");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
